<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    

    <div class="content">
        <% books.forEach(element => { %>
            <% let addr = "https://covers.openlibrary.org/b/isbn/" + element.isbn + "-M.jpg"  %>
            <div class = bookContainer>
                <img class="book" src="<%= addr %>">
                <p>Title: <%- element.title %></p>
                <p>Author: <%- element.author %></p>
                <p>ISBN: <%- element.isbn %></p>
            </div>
        <%  });   %>
        
    </div>

    <div class = "inputForms">
        <form action = "/input" method = "POST">
            <div id = "form1" class="popupMenu hidden">
                <div class = "menu">
                    <h2>Enter Book</h2>
                    <div class = "inputBook">
                        <p>Enter the ISBN</p>
                        <input type="text" name = "isbn">
                    </div>
                    <div class = "inputBook">
                        <p>Enter the Title</p>
                        <input type="text" name = "title">
                    </div>
                    <div class = "inputBook">
                        <p>Enter the Author</p>
                        <input type="text" name = "author">
                    </div> 

                    <div class="buttonCenter">
                        <button type = "submit">
                            Submit Data
                        </button>

                    </div>
                    
                </div>
                
            </div>
        </form>
    </div>
   


    <div class = "inputForms">
        <form action = "/delete" method = "POST">
            <div id = "form2" class="popupMenu hidden">
                <div class = "menu">
                    <h2>Enter Book</h2>
                    <div class = "inputBook">
                        <p>Enter the ISBN</p>
                        <input type="text" name = "isbn">
                    </div>

                    <div class="buttonCenter">
                        <button type = "submit">
                            Submit Data
                        </button>

                    </div>
                    
                </div>
                
            </div>
        </form>
    </div>

    <div class="bottomMenu">


        <button onclick="toggleForm1()">Add Book</button>
        <button onclick="toggleForm2()">Delete Book</button>
    </div>
</body>

<script>
    function toggleForm1() {
        document.getElementById("form1").classList.toggle("hidden");
    }
    function toggleForm2() {
        document.getElementById("form2").classList.toggle("hidden");
    }

</script>
</html>